.taskAdding {

    margin-right: auto;
    margin-left: auto;
    height: 35px;
    z-index: 3;
}

.leaflet-container {
    height: 78vh !important;

    .request__new-btn {
        position: absolute;
        padding: 2rem;
        background-color: blueviolet;
        z-index: 1000;
        border-radius: 50px;
        bottom: 5rem;
        left: 45%;
    }
}