.taskAdding {

    margin-right: auto;
    margin-left: auto;
    height: 35px;
    z-index: 3;
}

.leaflet-container {
    height: 78vh !important;

    .request__new-btn {
        position: absolute;
        padding: 1rem;
        z-index: 1000;
        border-radius: 25px;
        bottom: 5rem;
        color: white;
        left: 45%;
    }
}