.portal {
    .registration {
        float: left;
    }

    .heading {
        background-repeat: no-repeat;
        background-image: url(../../public/Assets/volunteer-services-teamwork.jpg);
        -webkit-filter: grayscale(80%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(80%);
        position: relative;
        height: 100vh;
        top: 0;
        right: 0;
        clip-path: polygon(7% 0%, 100% 0%, 100% 100%, 0% 100%);
        z-index: 0;
        color: rgb(11, 94, 215);
    }
}

@media (min-width: 768px) {
    .heading {}
}